---
http_interactions:
- request:
    method: get
    uri: http://api.dribbble.com/players/simplebits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"2d8126ba5159645e3529723492e4b717"'
    body:
      encoding: US-ASCII
      string: ! '{"id":1,"name":"Dan Cederholm","location":"Salem, MA","followers_count":32367,"draftees_count":176,"likes_count":35912,"likes_received_count":22606,"comments_count":2580,"comments_received_count":3289,"rebounds_count":32,"rebounds_received_count":299,"url":"http://dribbble.com/simplebits","avatar_url":"https://d13yacurqjgara.cloudfront.net/users/1/avatars/normal/dc.jpg?1371675643","username":"simplebits","twitter_screen_name":"simplebits","website_url":"http://simplebits.com","drafted_by_player_id":null,"shots_count":218,"following_count":1761,"created_at":"2009/07/07
        21:51:22 -0400"}'
  recorded_at: Tue, 27 May 2014 14:25:01 GMT
recorded_with: VCR 2.9.1
